body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.verde{
  background-color: green;
}
.rojo{
  background-color: red;
}
.azul{
  background-color: blue;
}